<h3>OOD101: Open OnDemand 101 (Fall 2025)</h3>

<p>
<b>HPC Center, Alumni Hall, W, 8:45 AM - 10:45 AM</b><br>
<b>Farrell Hall 105, T, 3:30 PM - 5:30 PM</b><br>
</p>

<ul>
<li><a href="https://hpc.wfu.edu" target="_blank">DEAC Cluster Homepage</a></li>
<li><a href="https://wfu.edu" target="_blank">Wake Forest University</a></li>
</ul> 

<p>Connecting computing power with powerful minds. Open OnDemand empowers students, researchers, and industry professionals with remote web access to supercomputers</p>
